* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, h6 {
    margin: 8px;
}

.container {
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 5px;
    background: #eaeaea;
}

input {
    padding: 12px;
}

button:hover{
    cursor: pointer;
}

li {
    text-align: left;
    margin-top: 4px;
    padding: 4px;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

li:hover {
    cursor: pointer;
}

.realizada{
    text-decoration: line-through;
    color: green;
}

.apagada {
    color: red;
}

.btn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.del {
    background-color: #f44336;
}

.btn:hover {
    opacity: 0.8;
}


